<div class="container">
  <div class="card-div">
    <h2 class="bem-vindo">PAGAMENTOS</h2>
    <div class="card-saldo">
      <h5 class="card-titulo">Débito: R${{soma}} <br/>Crédito: R${{somaCartao}}</h5>
    </div>
  </div>
  <div class="card-botoes">
    <button class="botao">BOLETO</button>
    <button class="botao">PIX</button>
    <button class="botao trans" onclick="transferencia()">TRANSFERÊNCIA</button>
    <button class="botao">SAQUE</button>
  </div>

  <div class="container-table">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-list col-1 head"><b>ID</b></div>
        <div class="col-list col-2 head"><b>TRANSAÇÃO</b></div>
        <div class="col-list col-3 head"><b>VALOR</b></div>
        <div class="col-list col-4 head"><b>HORÁRIO</b></div>
      </li>
      {{#each operacoes}}
        <li class="table-row">
          <div class="col-list col-1" data-label="Id">{{this.id}}</div>
          <div
            class="col-list col-2"
            data-label="transacao"
          >{{this.descricao}}</div>
          <div
            class="col-list col-3"
            data-label="valor-trans"
            style=""
          >{{this.valor}}</div>
          <div
            class="col-list col-4"
            data-label="horario"
          >{{this.createdAt}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="modal-container" style="display:none;">
  <div class="modal-trans">
    <button class="fechar">X</button>
    <form action="/pagamentos/add" method="POST">
      <h3 class="subtitulo">TRANSFERIR</h3>
      <label for="idCarteira" style="font-size: 15px;"> ID da carteira destino:</label>
      <input type="number" name="idCarteira" value="" />
      <label for="valorTransf" style="font-size: 15px;"> Valor para tranferência:</label>
      <input type="number" name="valorTransf" value="" />
      <input type="submit" class="btn btn-primary adicionar" value="TRANSFERIR" />
    </form>
  </div>
</div>

<script>
  let valor = document.querySelectorAll(".table-row"); valor.forEach((val) =>{
  let color = val.querySelector(".col-3");color.style.color = color.innerHTML
  >=0 ? "#00FF11": "#FF0000"; let hor =val.querySelector(".col-4"); let tempo =
  new Date(hor.innerHTML); let opcoes = {year: "numeric", month: "numeric", day:
  "numeric", hour:"numeric", minute: "numeric", second: "numeric", hour12:
  false}; hor.innerHTML = Intl.DateTimeFormat('pt-BR', opcoes).format(tempo);
  }); let modal = document.querySelector(".modal-container"); let trans =
  document.querySelector(".trans"); let fechar =
  document.querySelectorAll(".fechar"); 
  let btnTrans = document.querySelector(".adicionar");
  fechar.forEach((fecha) =>
  {fecha.addEventListener("click", () => { [modal].forEach((modal) =>
  {modal.style.display = "none";})});}); function transferencia(){
  modal.style.display = modal.style.display === "none" ? "flex": "none";
  
  console.log(trans); }

</script>